<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="RunningServerL" value="Local" />
    <add key="RunningServer" value="BrowserStack" />
    <add key="ServerUrll" value="http://localhost:4444/wd/hub" />
    <add key="Browseri" value="IE" />
    <add key="Browserc" value="Chrome" />
    <add key="Browserf" value="Firefox" />
    <add key="screenshotfile" value="C://Cynthia/Screenshots/" />
    <!--appSettings below are browserstack setting only-->
    <add key="PlatformType" value="Desktop" />
    <add key="Os" value="Windows" />
    <add key="BrowserStackUser" value="clientportal" />
    <add key="BrowserStackKey" value="aYC7PYASmCVDZxqLyA5X" />
    <add key="BrowserStackuname" value="cynthiaji" />
    <add key="BrowserStackaccesskey" value="7pBgxM7DoV5zDHEpqhPU" />
    <add key="ServerUrl" value="http://hub.browserstack.com/wd/hub/" />
    <add key="browser_ie11" value="11.0" />
    <add key="browser_ie10" value="10.0" />
    <add key="browser_ie90" value="9.0" />
    <add key="Browser_ff310" value="31.0" />
    <add key="Browser_ff300" value="30.0" />
    <add key="Browser_ff290" value="29.0" />
    <add key="browser_GC360" value="36.0" />
    <add key="browser_GC350" value="35.0" />
    <add key="browser_GC340" value="34.0" />
    <add key="browser_Safari51" value="5.1" />
    <add key="browser_Opera1216" value="12.16" />
    <add key="browser_Opera1215" value="12.15" />
    <add key="os_w" value="Windows" />
    <add key="os_70" value="7" />
    <add key="os_80" value="8" />
    <add key="os_81" value="8.1" />
    <add key="GC360os81r01" value="GG360os81r01" />
    <add key="GC350os80r08" value="GG350os80r08" />
    <add key="GC340os70r11" value="GG350os80r11" />
    <add key="FF310os81r01" value="FF310os81r01" />
    <add key="FF300os80r08" value="FF300os80r08" />
    <add key="FF290os70r11" value="FF290os80r11" />
    <add key="FF310os80r08" value="FF310os80r08" />
    <add key="IE11os81r01" value="IE11os81r01" />
    <add key="IE10os80r08" value="IE10os80r08" />
    <add key="IE09os70r11" value="IE090os80r11" />
    <add key="IE11os7" value="IE11os70r08" />
    <add key="IE10os8" value="IE10os80r10" />
    <add key="IE10os7" value="IE10os70r10" />
    <add key="IE09os7" value="IE09os7" />
    <add key="FF300os8" value="ff300os8" />
    <add key="FF310os8" value="ff310os8" />
    <add key="Safari51os81r01" value="Safari51os81r01" />
    <add key="Safari51os80r08" value="Safari51os80r08" />
    <add key="Safari51os70r10" value="Safari51os70r10" />
    <add key="Opera1216os81r01" value="Opera1216os81r01" />
    <add key="Opera1216os80r08" value="Opera1216os80r08" />
    <add key="Opera1215os70r11" value="Opera1215os80r11" />
    <add key="Browser" value="ff300os8" />
    <add key="resolution01" value="2048x1536" />
    <add key="resolution02" value="1920x1200" />
    <add key="resolution03" value="1920x1080" />
    <add key="resolution04" value="1680x1050" />
    <add key="resolution05" value="1600x1200" />
    <add key="resolution06" value="1440x900" />
    <add key="resolution07" value="1366x768" />
    <add key="resolution08" value="1280x1024" />
    <add key="resolution09" value="1280x800" />
    <add key="resolution10" value="1024x768" />
    <add key="resolution11" value="800x600" />
    <!--appSettings below are browserstack setting for Mobile and Tablet only-->
    <add key="browser_iPhone" value="iPhone" />
    <add key="platform_MAC" value="MAC" />
    <add key="device_5C" value="iPhone 5C" />
    <add key="device_5S" value="iPhone 5S" />
    <add key="device_5" value="iPhone 5" />
    <add key="browser_iPad" value="iPad" />
    <add key="device_iPadmini" value="iPad mini Retina" />
    <add key="device_iPad4th" value="iPad 4th Gen" />
    <add key="iPhone70_5C" value="iPhone70Safari_5C" />
    <add key="iPhone70_5S" value="iPhone70Safari_5S" />
    <add key="iPhone61_5" value="iPhone61Safari_5" />
    <add key="iPad_70" value="iPadSafari_70" />
    <add key="iPad_61" value="iPadSafari_61" />
    <add key="browser_Android41" value="4.1" />
    <add key="browser_Android40" value="4.0" />
    <add key="browser_Android42" value="4.2" />
    <add key="browser_android" value="android" />
    <add key="platform_Android" value="Android" />
    <add key="device_M42" value="LG Nexus 4" />
    <add key="device_M41" value="Samsung Galaxy S III" />
    <add key="device_M40" value="HTC One X" />
    <add key="android42M" value="android42M" />
    <add key="android41M" value="android41M" />
    <add key="android40M" value="android40M" />
    <!--Android Tablet-->
    <add key="device_T41" value="Google Nexus 7" />
    <add key="device_T40" value="Samsung Galaxy Note 10.1" />
    <add key="android41Tablet" value="android41Tablet" />
    <add key="android40Tablet" value="android40Tablet" />
    <add key="device" value="9.0" />
    <!--appSettings below are browserstack setting for Desktop only-->
    <add key="OsVersion" value="7" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.77" newVersion="1.9.0.77" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun+NUnit" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>